* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* added prefixes */
.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

/* general styles */
body {
  /*padding: 22px 16px;*/
  min-width: 375px;
  font-family: "Plus Jakarta Sans", "sans-serif";
}

header,
footer,
section {
  padding: 0 16px;
}

header,
footer {
  display: flex;
  justify-content: space-between;
}

header {
  height: 80px;
  line-height: 80px;
}

footer {
  height: 120px;
  line-height: 120px;
  background: #13183f;
  color: #ffffff;
}

/* styles for text */
h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 50.4px;
}

h2 {
  font-size: 28px;
  margin: auto 0;
}

h3 {
  font-size: 20px;
  margin-top: 24px;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #83869a;
}

a {
  font-size: 18px;
  font-weight: 700;
  color: #f74780;
}

/* Styles for buttons */
button {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border-style: none;
  background-color: black;
}

.header-button,
.footer-button {
  width: 140px;
  height: 48px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 24px;
}

.footer-button {
  background-image: linear-gradient(#4851ff, #f02aa6);
}

.title-button {
  width: 167px;
  height: 56px;
  border-radius: 28px;
  background-image: linear-gradient(#ff6f48, #f02aa6);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* Styles for sections */
.title-container {
  padding-bottom: 46px;
}

.description {
  margin-top: 26px;
  margin-bottom: 24px;
}

.image-container {
  /*width: 116vw;*/
  padding: 0;
  overflow: hidden;
}

.image-hero {
  /* image width from file: 435px - image width per design: 375px*/
  /* (435px / 375px) * 100% = 116% */
  /* margin left is set to -8% so image is positioned properly as per design */
  width: 116%;
  margin-left: -8%;
}

/* styles for card container */
.card-container {
  padding-bottom: 40px;
  background-image: linear-gradient(#ffffff, #f0f1ff);
}

.card {
  border-radius: 10px;
  padding: 0px 28px 32px 24px;
  margin-bottom: 40px;
}

.checkout-card {
  padding-top: 24px;
  background-image: linear-gradient(#ff6f48, #f02aa6);
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  color: #ffffff;
}

.course-card {
  background: #ffffff;
}

.icon {
  margin-top: -24px;
}

.course-description {
  margin-top: 16px;
  margin-bottom: 24px;
}
